{
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@hooks": "./src/hooks",
          "@ui": "./src/components/ui",
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@assets": "./src/assets",
          "@selectors": "./src/store/selectors",
          "@reducers": "./src/store/reducers",
          "@actions": "./src/store/actions",
          "@store": "./src/store",
          "@helpers": "./src/helpers",
          "@constants": "./src/constants",
          "@layouts": "./src/layouts",
          "@styles": "./src/styles",
          "@apptypes": "./src/types",
          "@utils": "./src/utils",
          "@api": "./src/api",
          "@app": "./src/App",
          "@mocks": "./src/mocks",
          "@routes": "./src/routes",
          "@configs": "./src/config",
          "@json": "./src/json"
        }
      }
    ]
  ]
}
